@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .section-title { @apply text-xl md:text-2xl font-medium; }
}

:root {
  --foreground-rgb: rgb(211, 216, 232);
} 

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #0d1224;
}
